
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" class="fixed-top">
  <h1><i class="fas fa-film"></i></h1>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Add a movie',new_list_bookmark_path(@list), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Back to list', lists_path, class: "nav-link" %>
      </li>
      <li>
        <%= link_to 'delete this list', list_path(@list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' }, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(app/assets/images/background.jpg);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between" >
    <div class="row">
      <div class="card" style="width: 20rem;">
          <% @list.movies.each do |movie| %>
            <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
              <div class="col-12 col-sm-6">
                <div class="card" style="width: 20rem;">
                  <%= image_tag movie.poster_url, alt: movie.title%>
                    <div class="card-body" >
                      <h5 class="card-title"><%= movie.title %></h5>
                      <h6><%= movie.rating %></h6>
                      <p class="card-text" ><%= movie.overview  %></p>
                      <p><%= bookmark.comment %></p>
                      <p><%= link_to 'delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger', class: "btn btn-gradient" %></p>
                    </div>
                </div>
              </div>
      </div>
            <% end %>
    </div>
  <div>
</div>
